body {
    background-color: black;
    background-image: url(assets/Background.gif);
    background-size: 100% 100%;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .outlined-title {
    display: block;
    margin-top: -0.1%;
    margin-left: 1%;
    font-size: 2.1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: #fff 0.1rem;
    letter-spacing: 0.2rem;
    color: transparent;
    position: relative;
    animation: flickering 2s linear infinite both;
    text-shadow: 0px 0px 16px #c8b372;
    cursor: pointer;
  }
  
  .outlined-title span::before,
  .outlined-title span::after {
    content: '—';
  }
  
  @keyframes flickering {
    0%,
    100% {
      opacity: 1;
    }
  
    41.99% {
      opacity: 1;
    }
  
    42% {
      opacity: 0;
    }
  
    43% {
      opacity: 0;
    }
  
    43.01% {
      opacity: 1;
    }
  
    47.99% {
      opacity: 1;
    }
  
    48% {
      opacity: 0;
    }
  
    49% {
      opacity: 0;
    }
  
    49.01% {
      opacity: 1;
    }
  }
  
  @keyframes dropDownHot {
    0% {
      opacity: 0;
      transform: translateY(-100);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes wipeEnter {
      0% {
          transform: scale(0, .025);
      }
      50% {
          transform: scale(1, .025);
      }
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #000000;
    overflow: hidden;
    width: 100.5%;
    
    position: fixed;
    margin-top: -200px;
    z-index: 99;
    right: 2%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #8f8f8f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 1%;
    margin-left: 1%;
    transition: 0.4s;
    cursor: pointer;
    }
  
  .topnav .navbarleft {
    float: right;
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 1%;
    margin-left: 2%;
    scale: 1.5;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .topnav .pop:hover {
    scale: 1.7;
  }
  
  .topnav .myico {
    float: left;
    display: block;
    text-align: center;
    padding: 20px 16px;
    margin-left: 3%;
    
  }
  
  .topnav .dropdown {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 0.2%;
    z-index: 4;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  .bg-limiter {
    width: 101%;
    height: 900px;
    margin-left: -0.5%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    margin-top: -120px;
    z-index: -1;
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .myico {
        float: none;
        display: block;
        text-align: left;
      }
  
      .topnav.responsive .dropdown {
        float: none;
        display: block;
        text-align: left;
      }
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #8f8f8f;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    cursor: pointer;
  }
  
  .dropdown .dropbtn:hover {
    color: white;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: lightpink;
    color: black;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdownAnimation {
    animation: dropDownHot 1s;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .dropdownAnimation {
      animation-name: dropDownHot;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }
  }
  
  .middle {
    width: 80%;
    display: block;
    position: relative;
    margin-top: 200px;
    text-align: left;
    margin-left: auto;
    height: 900px;
  }
  
  .middle p {
    color: #f1f1f1;
    opacity: 0.8;
    font-size: 18px;
    width: 40%;
  }
  
  .middle a {
    text-decoration: none;
    color: #9dab5e;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .middle a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9dab5e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .middle a:hover::after {
    color: #9dab5e;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .middle h1 {
    color: #f1f1f1;
    font-size: 48px;
  }
  
  .middle h6 {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 100;
    text-shadow: 2px 2px #000000;
    color: #9dab5e;
  }
  
  .middle h2 {
    color: #f1f1f1;
    font-size: 28px;
    font-weight: 100;
  }
  
  .middle .download {
    background: none;
    border: 2px solid #9dab5e;
    color: #9dab5e;
    border-radius: 7px;
    cursor: pointer;
    max-width: 180%;
    max-height: 100%;
    width: 250px;
    height: 70px;
    font-size: 150%;
    text-align: center;
    float: left;
    transition: 0.4s;
  }
  
  .download {
    background: none;
    border: 2px solid #9dab5e;
    color: #9dab5e;
    border-radius: 7px;
    cursor: pointer;
    max-width: 180%;
    max-height: 100%;
    width: 250px;
    height: 70px;
    font-size: 150%;
    text-align: center;
    float: left;
    transition: 0.4s;
  }
  
  .middle .premium {
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    border: 1px solid gray;
    border-radius: 7px;
    margin-top: 100px;
    cursor: pointer;
    max-width: 180%;
    max-height: 100%;
    width: 250px;
    height: 70px;
    font-size: 130%;
    text-align: center;
    margin-left: 1%;
  }
  
  .middle .premium:hover {
    border: 1px solid white;
  }
  
  .middle .download:hover {
    background-color: rgba(157, 171, 94, 0.5);
    color: white;
  }
  .download:hover {
    background-color: rgba(157, 171, 94, 0.5);
    color: white;
  }
  
  .download-nav {
    border: none;
    border-radius: 5px;
    background-color: lightpink;
    height: 30px;
    max-height: 30px;
    cursor: pointer;
  }
  
  .download-nav:hover {
    color: black;
    background-color: wheat;
  }
  
  /* width */
  ::-webkit-scrollbar {
  width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  background: gray;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
  }
  
  .icons {
    padding: 0;
    display: grid;
    width: 300px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem;
    align-items: flex-start;
    z-index: 2;
  }
  
  .myicon {
    fill:#9dab5e;
    padding: 10px;
    width: 80px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(222, 222, 134, 0.2);
    z-index: 2;
    transition: 0.2s;
  }
  
  .myicon:hover {
    transform: translateY(-10px);
  }
  
  .cards {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  align-items: flex-start;
  z-index: 2;
  }
  
  .goodcolor {
    color:#9dab5e;
    cursor: pointer;
    transition: .2s;
  }
  
  .goodcolor:hover {
    color: aqua;
  }
  
  img {
    cursor: pointer;
  }
  
  .card {
  
  background-color: rgb(29, 29, 29);
  padding: 1rem;
  color: #9e9e9e;
  max-width: 400px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  /* cursor: pointer; */
  z-index: 2;
  transition: 0.2s;
  }
  
  .card .download {
    margin-left: 70px;
  }
  
  .card-title {
    font-size: 200px;
    color: #9e9e9e;
  }
  
  .card-header {
  /* padding: var(--padding); */
  font-size: 1.5rem;
  color: #9e9e9e;
  font-weight: bold;
  margin-bottom: 1.5rem;
  }
  
  .card-body {
  font-size: 0.9rem;
  height: 100px;
  }
  
  .big {
    height: 450px;
  }
  
  .card-body .download {
    width: 100%;
  
  }
  
  .card-image {
  overflow: hidden;
  padding: 0;
  }
  
  .card-image img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-position: center;
  object-fit: cover;
  }
  
  .card-footer {
  margin-top: 1rem;
  }
  
  .card-footer div {
  float: left;
  margin-left: 1rem;
  }
  
  
  .features-section {
  width: 80%;
  display: block;
  position: relative;
  text-align: left;
  margin-left: auto;
  height: 500px;
  max-height: 900px;
  }
  
  .features-section p {
  
    color: #f1f1f1;
    opacity: 0.8;
    font-size: 18px;
    width: 90%;
  }
  
  .features-section h1 {
  font-size: 48px;
  color: #f1f1f1;
  }
  
  .features-section h2 {
  color: #f1f1f1;
    font-size: 28px;
    font-weight: 100;
  }
  
  .features-section a {
    text-decoration: none;
    color: #9dab5e;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .features-section a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9dab5e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .features-section a:hover::after {
    color: #9dab5e;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .features-section a:hover {
  opacity: 0.8;
  }
  /* DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */
  
  .feature-list {
  width: 90%;
  margin-left: auto;
  position: relative;
  text-align: left;
  display: block;
  height: 500px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
  z-index: 2;
  }
  
  .feature {
  padding: 1rem;
  color: #9e9e9e;
  max-width: 300px;
  border: none;
  z-index: 2;
  transition: 0.2s;
  }
  
  .feature .title {
  /* padding: var(--padding); */
  font-size: 1.7rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1.5rem;
  }
  
  .feature .title .title-icon {
  color: rgb(152, 208, 226);
  }
  
  .feature .title div {
  /* padding: var(--padding); */
  float: left;
  margin-left: 1rem;
  }
  
  .feature .desc {
  margin-top: 3rem;
  font-size: 0.9rem;
  }
  
  .buttonified {
    border: 1px solid #9dab5e;
    border-radius: 5px;
    transition: 0.4s;
  }
  
  .buttonified:hover {
    background-color: rgba(157, 171, 94, 0.5);
  }
  
  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: rgba(157, 171, 94, 0.5);
  }
  
  .facebook {
    background: transparent;
    border: 1px solid #9dab5e;
    border-radius: 5px;
    color: white;
  }
  
  .twitter {
    background: transparent;
    border: 1px solid #9dab5e;
    border-radius: 5px;
    color: white;
  }
  
  .google {
    background: transparent;
    border: 1px solid #9dab5e;
    border-radius: 5px;
    color: white;
  }
  
  .linkedin {
    background: transparent;
    border: 1px solid #9dab5e;
    border-radius: 5px;
    color: white;
  }
  
  .youtube {
    background: transparent;
    border: 1px solid #9dab5e;
    border-radius: 5px;
    color: white;
  }
  
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  
  .align-right {
    float: right;
    margin-right: 10%;
  }
  
  .mypic {
    border: solid 10px #9dab5e;
    border-radius: 20%;
    width: 400px;
  }

  .form-container {
    width: 1200px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }

  .form-container  select {
    width: 93%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }

  .form-container select:focus {
    cursor: pointer;
    color: #000000;
    border: 1px solid #e81cff;
  }
  
  .form-container .form-group textarea {
    width: 90%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  