:root {
    --text-glow-color: #857803;
}

.pfp {
    border-radius: 50%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    height: 60px;
}

.blurry-box {
    padding: 35px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background: rgba(104, 103, 103, 0.2);
    box-shadow: rgba(66, 66, 66, 0.2);
}

.holder {
    width: 100%;
    height: 100vh;
    background-image: url('../../image/links/background.png');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .socials {
        display: flex;
        justify-content: center;
        gap: 1.3rem;
        margin-top: 1rem;
        scale: 1.1;
        flex-wrap: wrap;
    }
    
    .social-link {
        color: #1a1a1a;
        font-size: 1.75rem;
        transition: all 0.3s ease;
        position: relative;
    }

    .holder {
        height: 100vh;
        background-image: url('background.png');
        background-size: cover;
        background-position: center;
    }
}

.glowing-text {
    font-size: 3rem;
    color: #fff562;
    text-align: center;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px var(--text-glow-color), 0 0 10px var(--text-glow-color), 0 0 15px var(--text-glow-color), 0 0 20px var(--text-glow-color);
    }
    100% {
        text-shadow: 0 0 10px var(--text-glow-color), 0 0 20px var(--text-glow-color), 0 0 30px var(--text-glow-color), 0 0 40px var(--text-glow-color);
    }
}

/* Create the snowfall effect */
.snowfall {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .snowflake {
    position: absolute;
    top: -10px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
    width: 3px;  /* All snowflakes are the same size */
    height: 3px;
  }
  
  /* Keyframe animation for snow falling */
  @keyframes fall {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(100vh);
    }
  }

.experimental-btn {
    margin-top: 30px;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #000;
    color: white;
    opacity: 0.3;
    border: none;
    transition: 0.5s;
}

.experimental-btn:hover {
    transform: translateY(-5px);
    opacity: 1;
    cursor: pointer;
}

.undertext-recommended {
    margin-top: 10px;
    color: white;
    opacity: 0.5;
    font-size: 12px;
}