:root {
    --text-glow-color: #138503;
}

.pfp {
    border-radius: 50%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.1);
    height: 60px;
}

.blurry-box {
    padding: 50px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background: rgba(82, 76, 76, 0.2);
    box-shadow: rgba(44, 41, 41, 0.2);
}

.holder {
    width: 100%;
    height: 100vh;
    background-image: url('background.png');
    background-size: 100% 100%;
}

@media (max-width: 768px) {
    .socials {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
        scale: 1.3;
        flex-wrap: wrap;
    }
    
    .social-link {
        color: #1a1a1a;
        font-size: 1.75rem;
        transition: all 0.3s ease;
        position: relative;
    }

    .holder {
        width: 100%;
        height: 100vh;
        background-image: url('background.png');
        background-size: cover;
        background-position: center;
    }
}

.glowing-text {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px var(--text-glow-color), 0 0 10px var(--text-glow-color), 0 0 15px var(--text-glow-color), 0 0 20px var(--text-glow-color);
    }
    100% {
        text-shadow: 0 0 10px var(--text-glow-color), 0 0 20px var(--text-glow-color), 0 0 30px var(--text-glow-color), 0 0 40px var(--text-glow-color);
    }
}