@font-face 
{
    font-family:BlenderProBook;
    font-style:normal;
    font-weight:400;
    src:url(../ARCHIVE/fonts/BlenderProBook.woff2) format("woff2");
}

@font-face 
{
    font-family: Oxanium;
    font-style: normal;
    font-weight: 400;
    src: url(../ARCHIVE/fonts/Oxanium.woff2) format('woff2');
}

@font-face 
{
    font-family: Cyberpunk;
    src: url(../ARCHIVE/fonts/Cyberpunk.otf) format('opentype');
}

:root {
    --root-font-size: 18px;

    --yellow: #f8ef02;
    --cyan: #00ffd2;
    --red: #ff003c;
    --blue: #136377;
    --green: #446d44;
    --purple: purple;
    --black: #000;
    --white: #fff;
    --dark: #333;

    --fg: var(--black);
    --bg: transparent;
    --ac: var(--cyan);

    --yellow-cyberpunk-font: #feef00;
    --cyan-cyberpunk-font1:#46dffb;
    --cyan-cyberpunk-font2:#45aefb;
}

html
{
    font-size: var(--root-font-size);
    font-family: "Oxanium";
    padding: 0;
    margin: 0;
}

body
{
    background-color: var(--dark);
}

.btn
{
    background-color: var(--cyan-cyberpunk-font2);
    border: none;
    padding: 10px;
    font-weight: bold;
}

.btn:hover
{
    filter: brightness(90%);
    cursor: pointer;
}

.color-green
{
    background-color: var(--green)
}

.color-white {
    color: whitesmoke;
}

.color-yellow
{
    background-color: yellow;
}

.black
{
    background-color: black;
}

.oxanium-font
{
    font-family: Oxanium !important;
}

.blenderpro-font
{
    font-family: BlenderProBook !important;
}