@font-face {
  font-family: BlenderProBook;
  font-style: normal;
  font-weight: 400;
  src: url(../ARCHIVE/fonts/BlenderProBook.woff2) format("woff2");
}

@font-face {
  font-family: Oxanium;
  font-style: normal;
  font-weight: 400;
  src: url(../ARCHIVE/fonts/Oxanium.woff2) format("woff2");
}

@font-face {
  font-family: Cyberpunk;
  src: url(../ARCHIVE/fonts/Cyberpunk.otf) format("opentype");
}

:root {
  --root-font-size: 18px;

  --yellow: #f8ef02;
  --cyan: #00ffd2;
  --red: #ff003c;
  --blue: #136377;
  --green: #446d44;
  --purple: purple;
  --black: #000;
  --white: #fff;
  --dark: #333;

  --fg: var(--black);
  --bg: transparent;
  --ac: var(--cyan);

  --yellow-cyberpunk-font: #feef00;
  --cyan-cyberpunk-font1: #46dffb;
  --cyan-cyberpunk-font2: #45aefb;
}

html {
  font-size: var(--root-font-size);
  font-family: "Oxanium";
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
}

.btn {
  background-color: var(--cyan-cyberpunk-font2);
  border: none;
  padding: 10px;
  font-weight: bold;
}

.btn:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.color-green {
  background-color: var(--green);
}

.color-white {
  color: whitesmoke;
}

.color-yellow {
  background-color: var(--yellow);
}

.black {
  background-color: var(--black);
}

.oxanium-font {
  font-family: Oxanium !important;
}

<<<<<<< HEAD
.blenderpro-font
{
    font-family: BlenderProBook !important;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--dark);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#clip_player
{
    width: 100%;
    height: 600px;
}
=======
.blenderpro-font {
  font-family: BlenderProBook !important;
}
>>>>>>> e1769eb6b23f00552671eb237d3f59308f5e6739
